/* styles.css
  Author: Luca Schuett
*/
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-x: hidden; /* Hide the body horizontal scrollbar */
  overflow-y: auto; /* Add scrollbar when content exceeds viewport height */
}

.container {
  width: 30%; /* Adjust this value to control the width of your content */
  max-width: 600px; /* Set a maximum width if needed */
  min-width: 300px; /* Set a minimum width */
  max-height: 100vh; /* Limit the height of the container to the viewport height */
}

h1 {
  color: #333;
  text-align: left;
}

h2 {
  color: #666;
  text-align: left;
}

p {
  color: #888;
  text-align: left;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Add a media query for wider screens */
@media only screen and (min-width: 768px) {
  .container {
    width: 50%; /* Adjust this value for the middle third of the screen */
  }
}

hr.section-divider {
  border: 2px solid #333;
  margin-bottom: 10px;
  border-radius: 2px;
}

hr.section-divider-big {
  border: 4px solid #333;
  margin-bottom: 10px;
  border-radius: 4px;
}

/* Add padding to the last paragraph */
.container p:last-child {
  padding-bottom: 50px; /* Adjust the value as needed */
}
