/* Author: Luca Schuett */
@import url("https://fonts.cdnfonts.com/css/cubano");
body {
  font-family: "Cubano", sans-serif; /* Use Cubano font, update the font-family if needed */
}

/* Don't change anything here. */
.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* Set initial transparency for the zoom controls */
.leaflet-control-zoom {
  background-color: rgba(
    255,
    0,
    0,
    0
  ); /* Set the initial background color with low opacity (transparent) */
  transition: background-color 0.3s ease, border 0.3s ease; /* Apply a smooth transition effect */
}

/* Change the opacity and border color on hover to make the controls opaque */
.leaflet-control-zoom:hover {
  background-color: rgb(
    255,
    255,
    255
  ); /* Set the background color with higher opacity (opaque) on hover */
  border: 1px solid rgba(255, 255, 255, 1); /* Set the border color with higher opacity on hover */
}

/* Set initial transparency for the zoom buttons */
.leaflet-control-zoom a {
  background-color: transparent; /* Set the initial background color of the buttons as transparent */
  color: white; /* Set the text color of the buttons */
  transition: background-color 0.3s ease, color 0.3s ease; /* Apply a smooth transition effect */
}

/* Change the background color and text color on hover to make the buttons opaque */
.leaflet-control-zoom:hover a {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Set the background color with higher opacity (opaque) on hover */
  color: #000; /* Set the text color with darker color on hover */
}

/* this div contains the gui. It has an absolute position at the top left of the screen
the flex property makes the items inside the gui be in the center and stacked on top of each other*/
.gui-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 20px;
  z-index: 5;
  box-shadow: 10px 10px 5px #88888891; /* Add shadow */
}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}

/* the header */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h1 {
  text-shadow: 3px 3px lightgray;
  font-size: 38px;
}
.header-container img {
  max-width: 50px;
  max-height: 50px;
  margin-left: 10px; /* Adjust the value as needed */
}
/* the lines */
.line-div {
  display: flex;
  align-items: center;
  width: fit-content;
}
.line {
  height: 10px;
  width: 290px;
  background-color: #454545;
  border-radius: 100px;
}
/* spinning div for the active border animation */
.spinning-div {
  position: relative;
  width: 300px;
  height: 60px;
  border-radius: 30px;
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  transition: transform 0.3s, box-shadow 0.3s; /* Add transition properties */
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.spinning-div:hover,
.bottomPill:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.spinning-div.active::before {
  content: "";
  position: absolute;
  top: calc(50% - 150px); /* Subtract half of the height */
  left: calc(50% - 150px); /* Subtract half of the width */
  width: 300px; /* Set the width to the larger dimension of the spinning-div */
  height: 300px; /* Set the height to the larger dimension of the spinning-div */
  background: conic-gradient(from 0deg at 50% 50%, white, black);
  animation: activeSpin 2s linear infinite; /* Spinning animation only for the active state */
}
@keyframes activeSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* inset is so it is inside the spinning div and the animated "border" is visible */
/* the start and destination buttons are actually spinning divs..., the outer divs, the actual pill is inside and is not a button itself */
.pill {
  inset: 3px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 30px;
  border: #00000000;
  cursor: pointer;
}
.left-quarter {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add padding to create space inside the pill to the left of the images */
  padding-left: 10px; /* Adjust the value based on your preference */
}
.left-quarter img {
  max-width: 100%;
  max-height: 100%;
}
.right-three-quarters {
  width: 75%;
  padding: 10px;
}
/* styles the forms for the coordinates for a minimal look */
.right-three-quarters form {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding-bottom: 0; /* Adjust padding to bring the lower line closer to the text */
  width: 90%; /* Set a specific width for the form elements, so it does not clip into the pill */
  pointer-events: none; /* Ignore mouse events on the form elements, this makes the whole pill clickable */
}
/* styles the content of the forms - the font, the size of the content/placeholders */
.right-three-quarters form input {
  border: none;
  outline: none;
  background: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Cubano", sans-serif; /* Use Cubano font, update the font-family if needed */
}

/* here the bottom pill is styled */
.bottomPill {
  margin: 15px; /* little bit of space to the line above it */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* gap between the clear and calculate button */
  width: 300px; /* same width and height like the other pill */
  height: 60px;
  background-color: #fff;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  transition: transform 0.3s, box-shadow 0.3s; /* Add transition properties */
  /* hover effects are found at the spinningDiv hover */
}

/* clear button styles and animations */
.clearButton {
  position: relative;
  background-color: white;
  width: 43px;
  height: 43px;
  background-image: url(/images/cross1.png);
  background-size: cover;
  border: 3px solid #000; /* Add a thick black border */
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  transition: background-image 0.3s;
}
.clearButton:hover {
  background-color: white;
  background-image: url(/images/cross2.png);
}
.clearButton.spin {
  cursor: not-allowed;
  pointer-events: none;
  animation: spin 1s ease-out; /* Adjust the duration as needed */
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(540deg);
  }
}
.clearButton:disabled {
  background-image: url(/images/cross1disabled.png);
  cursor: not-allowed;
}

/* the calculate button */
.calculateButton {
  width: 65%;
  padding: 10px; /* this makes it higher */
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  background-color: #3498db;
  color: #fff;
  margin-right: 10px; /* Set the same margin as the clear button has on the left */
  border: 3px solid #000; /* Add a black border */
  transition: background-color 0.3s, color 0.3s; /* Add transition properties */
  font-family: "Cubano", sans-serif; /* Use Cubano font, update the font-family if needed */
  font-size: large;
  position: relative;
  overflow: hidden; /* Hide any content that extends beyond the button's boundaries */
}
/* Styles for the button during animation */
.calculateButton.animation-in-progress {
  background-color: #3498db; /* Adjust background color during animation */
  color: #3498db; /* Make text color match the background during animation */
  cursor: not-allowed;
}

/* car div that will be inside the calculate button */
.car {
  /* border: solid red; /* for debugging */
  width: 80%; /* this way it is just as big as the outer container, which is the pill */
  height: 100%;
  background-image: url("/images/loadingImage.png");
  background-size: contain; /* so the car is nice and small and fits in the car div */
  background-repeat: no-repeat; /* so there is only one car inside the car div because the car is so small that multiple could fit next to each other */
  background-position: right; /* this way, it looks like the loading animation starts immediatly */
  position: absolute; /* also important for positioning, absolute compared to calc button which is relative */
  top: 50%; /* if this is not there, the car div will be too high, it should be exactly at the position of the pill div */
  transform: translate(
    -120%,
    -50%
  ); /* -100% makes it go all the way to the left, -50% moves its at the same height of the pill div*/
}

/* hover styles when it is not disabled */
.calculateButton:hover:not(:disabled):not(.animation-in-progress) {
  background-color: #fff; /* Change background color on hover */
  color: #3498db; /* Change text color on hover */
}
/* button is gray when disabled */
.calculateButton:disabled:not(.animation-in-progress) {
  color: #454545;
  background-color: #ccc;
  cursor: not-allowed;
}

/* the following 3 styles are just for the error message */
.hidden {
  opacity: 0;
  pointer-events: none; /* Add this to prevent interaction with the hidden element */
  z-index: 10;
}

#errorContainer {
  position: fixed;
  bottom: 20px; /* Adjust the bottom spacing as needed */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 10;
}

.errorPill {
  background-color: #fff; /* White background color */
  color: #333; /* Dark text color */
  padding: 5px 10px; /* Smaller padding */
  border-radius: 100px; /* Set to half of the container's width for a pill shape */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

#contextMenu {
  display: none;
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: #fff; /* Set your background color */
  border: 1px solid #ccc; /* Set your border styles */
  /* Default border-radius style */
  border-radius: 5px 5px 5px 5px;
  /* Other styles */
  font-family: "Cubano", sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transform-origin: top left;
  animation: scaleIn 0.25s ease-out;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Style for menu items */
.menu-item {
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
  z-index: 999; /* Lower z-index to appear behind the context menu */
}

.menu-item:hover {
  background-color: #f0f0f0;
}

a:visited {
  color: #0077cc; /* Set your desired color for visited links */
}

/* Add a custom class to style the disabled menu item */
.menu-item-disabled {
  color: #aaa; /* Set your desired color for disabled text */
  cursor: not-allowed; /* Set cursor to indicate unclickable */
}
