body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.pill {
  width: 200px;
  height: 100px;
  background-color: #3498db;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.car {
  width: 90%;
  height: 90%;
  background-image: url("/web_root/loadingAnimation/car.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  transition: transform 2s linear;
}
